body {
    background-color: #111;
    color: #ccc;
    font-size: 1.5rem;
}

.endereco-form {
    width: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    color: burlywood;
}

input {
    padding: 0.5rem 1rem;
    background: #ccc;
    border: none;
    border-radius: 2px;
    font-size: .875rem;
}

.btn {
    border: none;
    padding: .5rem 1rem;
    border-radius: 2px;
    font-size: .875rem;
    cursor: pointer;
}

.next-joke {
    margin-bottom: 30px;
}